{% extends "layout.html" %}
{% block title %} - Drawings{% endblock %}
{% block content %}  
  <div class="generalpage">  
    <h2>about the drawings...</h2>
    <p>These drawings are all on notebook paper, drawn almost exclusively with
    ballpoint pens. Ballpoint pens really are the best.
    </p>
    <p>Many (probably a wide majority) were drawn while in class; they provided
    a great distraction from actually paying attention, or something.</p>
    <p>There have been about 150 finished, finished drawings between 2001 and 
    now. Many, many sketches exist. I'll be adding them soon.</p>
  </div>
{% endblock %}
