{% extends "layout.html" %}
{% block content %}    
<div class=page>
  <img src="http://i328.photobucket.com/albums/l323/bufordsharkley/2008-11-18.jpg" alt="drawing"/>
</div>
<div class=left>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
  <p>Some stuff here on the left</p>
</div>
{% endblock %}
