{% extends "layout.html" %}
{% block content %}
<div class="mid-section">
        <div class="left-wrapper">
<h1 style="text-align:right">Drawing #85</h1><h2>Feb 21, 2008</h2></div>
        <div class="main-content">
<div class="drawingpage" style="float: left">
  <img src="http://i328.photobucket.com/albums/l323/bufordsharkley/2008-11-18.jpg" alt="drawing"/>
</div>
        </div>
        <div class="right-wrapper">
<div class="drawingtext"><div class="additionaltext">PARISKEE & GILBERT<br/>MOTIVATIONAL SPEAKERS<br/>LET THEM EXPLAIN TO YOU WHAT THEY FIND CONFUSING & SCARY!<br/>A REAL MORALE  BOOST!<br/>WELCOME ZUPPI FUND MGMT!<br/></div>GILBERT:...And I wouldn't <u>dream</u>, certainly, of trying to figure out the mirror controls in my car! I just made sure they were in a usable position when I picked it up from the dealership, thanks very much! (Long pause) So, fund management: that's like a bank, right? Mr. Pariskee worked in a bank once.<br/>PARISKEE:(Pounds staff once)(Pounds staff again)(Pounds staff seventeen more times)<br/>GILBERT:Actually, Mr. Pariskee never worked in a bank. I take that back.</div> </div>
</div>

{% endblock %}
