{% extends "layout.html" %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='magnifier.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='event.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='magnifier.js') }}"></script>
    <script type="text/javascript">
    var evt = new Event(),
        m = new Magnifier(evt);
    </script>
{% endblock %}
{% block content %}
<div class="mid-section">
  <div class="left-wrapper">
    <div id="preview" class="magnifier-preview" style="width: 100%; height: 20em;">
    <div class='drawingnumdate'>
    <h1 style="text-align:right">Drawing {{number}}</h1>
    <h2>{{date}}</h2>
    </div>
    </div>
    <nav class="button_panel">
    {% if firstorlast != 'last' %}
    <a href="{{url_for('drawing', num=number+1)}}">
      <div class="button">
        <h2>next</h2>
    </div>
    </a>
    {% else %}
      <div class="button">
        <h2>the end</h2>
    </div>
    {% endif %}
    {% if firstorlast != 'first' %}
    <a href="{{url_for('drawing', num=number-1)}}">
      <div class="button">
        <h2>previous</h2>
      </div>
    </a>
    {% endif %}
    <a href="{{url_for('random_drawing')}}">
      <div class="button">
        <h2>random</h2>
      </div>
    </a>
    {% if firstorlast != 'last' %}
    <a href="{{url_for('last_drawing')}}">
      <div class="button">
        <h2>last</h2>
      </div>
    </a>
    {% endif %}
    </nav>
    <nav class="high_level_drawing_nav">
    <a href="{{url_for('subpage', path='/drawing/about')}}">
      <div class="button">
        <h2>about</h2>
    </div>
    </a>
    <a href="{{url_for('subpage', path='/drawing/sketches')}}">
      <div class="button">
        <h2>sketches</h2>
      </div>
    </a>
    </nav>
  </div>
  <div class="main-content">
  {% if large_src %}
  <a class="magnifier-thumb-wrapper" href="{{large_src}}">
  {% else %}
  <a href="{{small_src}}">
  {% endif %}
    <div class="drawingpage" style="float: left">
      <div>
      <img id="thumb" src={{small_src}} alt="drawing"/>
      </div>
    </div>
  </a>
  </div>
  <div class="right-wrapper">
    <div class="drawingtext">
      <div class="additionaltext">
      {% for addtlline in additionaltext %}
        {{addtlline|safe}}<br/><br/>
      {% endfor %}
    </div>
    {% for line in caption %}
    {{line|safe}}
    {% for ii in range(loop.cycle(1,2)) %}
    <br/>
    {% endfor %}
    {% endfor %}
  </div>
</div>
</div>
    {% if large_src %}
    <script type="text/javascript">
m.attach({
    thumb: '#thumb',
    large: '{{large_src}}',
    largeWrapper: 'preview',
    zoom: 8
    });
    </script>
    {% endif %}
{% endblock %}
