{% extends "layout.html" %}
{% block content %}
<div class="page">
  <!--<h2>frequently asked questions...</h2>-->
  <h3 style="text-align:center;font-size:3em">A LIST OF MY FAVORITE F.A.Q.s</h3>
  <ul>
    <li><a href="http://www.dumdumpops.com/faqs">Dum Dum Pops: Flavor FAQs</a></li>
    <li><a href="http://www.subway.com/ContactUs/CustServFAQs.aspx">Subway: Customer Service FAQs</a></li>
    <li><a href="http://www.1800collect.com/faq.htm">1-800-COLLECT Frequently Asked Questions</a></li>
    <li><a href="https://cu.pepsico.com/capncrunch/capncrunch-faq-page">Cap'n Crunch: CapnCrunch FAQ Page</a></li>
    <li><a href="http://www.mst3kinfo.com/mstfaq/index.html">The Official MST3K FAQ</a></li>
    <li><a href="http://webpages.charter.net/superheroes/space_ghost.htm">The Original Space Ghost FAQ</a></li>
    <li><a href="http://www.finifter.com/quantum-leap/information/faql.html">Quantum Leap: Frequenty Asked Question List (FAQL)</a></li>
    <li><a href="http://simpsonsarchive.com/guides/lisa.html">List of Inquiries and Substantial Answers: The official FAQ of alt.tv.simpsons</a></li>
    <li><a href="http://www-cs-faculty.stanford.edu/~uno/faq.html">Knuth: Frequently Asked Questions</a></li>
    <li><a href="http://www.readingpa.gov/content/city-council-frequently-asked-questions">City of Reading, Pennsylvania: City Council Frequently Asked Questions</a></li>
    <li><a href="http://brokenlibrarian.org/bitcoin/">A Bitcoin FAQ</a></li>
    <li><a href="http://www.drquinnmd.com/dqlist/faq.html">Official Dr. Quinn Medicine Woman Web Site: Frequently Asked Questions (FAQ)</a></li>
  </ul>
</div>

{% endblock %}
