{% extends "layout.html" %}
{% block content %}
<div class="filmlist">
  <h2>a webpage about films...</h2>
  <p>This will eventually contain things. I used to be able to have time to watch 300+ movies a year, and I feel like listing things here. Because it's my website, and you're not the boss of me.</p>
  <ul>
    <li>Information on software I've written and use to maintain looking over several dozen film canons</li>
    <li>Personal recommendations</li>
    <li>Perhaps a database of all films I've ever seen, mostly as a convenience to myself</li>
    <li>Yeah&hellip; that's essentially it.</li>
  </ul>
  <h2>top 100 films...</h2>
  <p>But for now, here's <i>something</i>, a top 100 list I cooked up
  several years ago. <br/>
  I'm not sure I stand behind all the choices below; the contents are subject to change; etc, etc, etc&hellip;</p>
  <br/>
  {% for film in films %}
    <div class="film">
    {{ film.number }}. 
    <span class="filmtitle">
    {{ film.title }}
    </span>
    <div class="filmmetadata">
    {{ film.directorandyear }}
    </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
