{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='splashajax.js') }}"></script>
{% endblock %}
{% block bodyonload %}loadForFrontPage();{% endblock %}
{% block content %}    
<div class="frontpageleft">
  <nav class="frontpagenav">
    <a href={{url_for('random_drawing')}}>
      <div class="page initiator" id="drawings">
        <h2>drawings</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='radio')}}>
      <div class="page initiator" id="radio">
        <h2>radio</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='contact')}}>
      <div class="page initiator" id="contact">
        <h2>contact</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='cv')}}>
      <div class="page initiator" id="resume">
        <h2>r&eacute;sum&eacute;</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='faqs')}}>
      <div class="page initiator" id="faqs">
        <h2>F.A.Q.s</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='projects')}}>
      <div class="page initiator" id="projectsanddesign">
        <h2>projects&amp;design</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='film100')}}>
      <div class="page initiator" id="filmlists">
        <h2>film lists</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='etc')}}>
      <div class="page initiator" id="etc">
        <h2>etc</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='jokebook')}}>
     <div class="page initiator" id="jokes">
      <h2>reely phunny jokes</h2>
      </div>
    </a>
    <a href={{url_for('subpage', path='about')}}>
      <div class="page initiator" id="about">
        <h2>about</h2>
      </div>
    </a>
  </nav>
</div>
<div class="frontpageright">
  <div id="splash">
    <h2>howdy...</h2>
    <img id="frontpageimage" src="{{ splash.img }}" alt="lobster"/>
    <div id="summary">
      {% for line in splash.summary %}
        {% if line %}
          {{ line | safe}}
        {% else %}
          <br/>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
