{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='splashajax.js') }}"></script>
{% endblock %}
{% block bodyonload %}loadForFrontPage();{% endblock %}
{% block content %}    
<div class="frontpageleft">
<nav class="frontpagenav">
<a href={{url_for('random_drawing')}}>
<div class=page>
    <h2>drawings</h2>
</div>
</a>
<div class=page>
    <h2>radio</h2>
</div>
<div class=page>
    <h2>academic</h2>
</div>
<div class=page>
    <h2>projects&design</h2>
</div>
<div class=page>
    <h2>film lists</h2>
</div>
<a href={{url_for('poetry')}}>
<div class=page>
    <h2>poetry&more</h2>
</div>
</a>
<div class=page>
    <h2>reely phunny jokes</h2>
</div>
<div class=page>
    <h2>about</h2>
</div>
</nav>
  </div>
  <div class="frontpageright">
    <div class="poem">
      asdfkasdflaKDSLFSDF
      <div id="summary">
      </div>
    </div>
  </div>
{% endblock %}
