{% extends "layout.html" %}
{% block head %}
{{super()}}
<style type="text/css">
  .container div{
    float: left;
    width: 20%;
  }
  img {
    width: auto;
  }
}
</style>
{% endblock %}
{% block content %}
<div class="generalpage">
  <h2>a jokebook for the 21st century</h2>
  <div class="banner_under_h2">
    <div class="container">
      <div>
          <img src="{{ url_for('static', filename='jokebook_mockup.png') }}" alt="A picture of a bible with the name of the jokebook on top"/>
      </div>
        <div>
          <p>
	    A Tomfool's Compendium of Reely Phunny Jokes (aka "A Snapster's Compendium of Dinosaur, Prohibition, Subway, Hair, Beach, and Hamburger Jokes") is an upcoming jokebook of considerable excitement.
          </p>
          <p>
	    Ita will exist at some undetermined time in the future. Stay posted.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
