{% extends "layout.html" %}
{% block content %}
<div class="generalpage">
  <h2>a jokebook for the 21st century</h2>
  <div class="banner_under_h2">
    <img src="{{ url_for('static', filename='jokebook_mockup.png') }}" alt="A picture of a bible with the name of the jokebook on top" style="display:inline;width:40%;"/>
    <div style="display:inline;">
      <p>
	A Tomfool's Compendium of Reely Phunny Jokes (aka "A Snapster's Compendium of Dinosaur, Prohibition, Subway, Hair, Beach, and Hamburger Jokes") is an upcoming jokebook of considerable excitement.
      </p>
      <p>
	It will exist at some undetermined time in the future. Stay posted.
      </p>
    </div>
    </div>
  </div>

{% endblock %}
