<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>MGM {% block title %}{% endblock %}</title>
    <script type=text/javascript>
      // Allows jquery modules to successfully call subpages without being dependent on full URLs:
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='friendstxtwebringgenerator.js') }}"></script>
    {% endblock %}
  </head>
  <body onload="{% block bodyonload %}{% endblock %}">
    <nav>
      <a href="{{url_for('index')}}">
        <div class="boxy banner">
          <h1><div class="name_part">Mark</div> <div class="name_part">Grover</div> <div class="name_part">Mollineaux</div></h1>
          <h2>The website</h2>
        </div>
      </a>
    </nav>
    <div class=content>
      {% block content %}{% endblock %}
    </div>
    <!-- webring gets inserted between the end of the body, but missing anything with footer
    tag, or with class or id = footer -->
    <div id="friendstxt_webring" style="display:block;background-color:#fff;clear:both;margin-top:45em;margin-left:auto;margin-right:auto;width:30em;">
      <div style="text-align:center"><h3>friends.txt webring</h3></div>
      <div style="display: inline-block;text-align:center;vertical-align:top;width:7em; cursor: pointer;" onClick="friendstxt_carousel('left')">&lt;</div>
      <div style="display: inline-block;text-align:center;vertical-align:top;width:15em;">
        <h4 id="friendstxt_webring_name">some friend's name</h4>
        <a href="http://example.com" target="_blank" id="friendstxt_webring_url">some friend's site</a>
      </div>
      <div style="display: inline-block;vertical-align:top;width:7em; cursor: pointer;" onClick="friendstxt_carousel('right')">&gt;</div>
    </div>
    {% block footer %}
    <footer>
      &copy; 2013-2024 Mark Mollineaux.<br/>
    </footer>
    {% endblock %}
  </body>
</html>
