<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>MGM {% block title %}{% endblock %}</title>
    <script type=text/javascript>
      // Allows jquery modules to successfully call subpages without being dependent on full URLs:
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% endblock %}
  </head>
  <body onload="{% block bodyonload %}{% endblock %}">
    <nav>
      <a href="{{url_for('index')}}">
        <div class=page>
          <h1>mark grover mollineaux</h1>
          <h2>the website</h2>
        </div>
      </a>
    </nav>
    <div class=content>
      {% block content %}{% endblock %}
    </div>
    <!-- webring gets inserted between the end of the body, but missing anything with footer
    tag, or with class or id = footer -->
    <div id="friendstxt_webring" style="display:block;background-color:#ff0;clear:both;margin-top:20em;margin-left:auto;margin-right:auto;width:30em;">
      <div style="text-align:center">webring</div>
      <div style="display: inline-block;vertical-align:top;width:7em;">previous</div>
      <div style="display: inline-block;vertical-align:top;width:15em;">
        <div>some friend's name</div>
        <div><a href="http://example.com" target="_blank">some friend's site</a></div>
      </div>
      <div style="display: inline-block;vertical-align:top;width:7em;">next</div>
    </div>
    {% block footer %}
    <footer>
      &copy; 2014 Mark Mollineaux.<br/>
    </footer>
    {% endblock %}
  </body>
</html>
