<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <style type="text/css">
        html {
          font-family: 'Amatic SC', cursive;
          text-align: center;
        }
        body {
          color: moccasin;

        }
        h1 {
          font-size: 4em;
          color: olive;
        }

        p {
          font-size: 2em;
          color: dimgray;
        }
        #flowerbed {

        }
        img {
          height: 400px;
          display: inline;

        }
    </style>
    <title>HAPPY MOTHERS DAY</title>
  </head>
  <body>
    <h1>HAPPY MOTHERS DAY SUSAN AMOS MOLLINEAUX</h1>
    <p>here are flowers i planted for you</p>
    <div id="flowerbed">
      <img src="http://4.bp.blogspot.com/-5fppJNEqodM/T5sdWsesowI/AAAAAAAABbU/PTDJB5L1WXg/s1600/flower-garden.jpg">
      <img src="http://media.victoriaadvocate.com/img/photos/2012/05/10/hg_garden_dirt2_051112_175678.jpg">
      <img src="http://media-cache-ak0.pinimg.com/736x/c7/ec/1a/c7ec1a9cf32a80ba463769bc05b6da3b.jpg">
      <img src="http://thumbs.dreamstime.com/z/flower-potting-dirt-gardening-tools-20265831.jpg">
      <img src="http://thedirt.areavoices.com/files/2011/06/cutting-garden-11.jpg">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/4a/43/23/4a4323b4cc260800ab87da5bf039d207.jpg">
      <img src="http://www.fungiforay.co.uk/communities/0/004/007/332/760/images/4532787636.jpg">
      <img src="https://billmarydrew.files.wordpress.com/2014/03/image44.jpg">
    </div>
    <p> happy mothers day and i hope you enjoyed these selection of flowers. they will enliven this page of the internet until i take it down</p>
  </body>
</html>

