{% extends "layout.html" %}
{% block title %} - Projects &amp; Design{% endblock %}
{% block content %}
<div class="generalpage">
  <h2>projects: design.</h2>
  <ul>
    <li><p>I have an upcoming project where I'm going to design 52 cereal boxes in 52 weeks. This is in order to see what it would be like to live my dream job; designing cereal boxes for a supermarket's generic brand, with little oversight.</p></li>
    <li><p>I also plan to lay out rules that audio media players should be able to satisfy, to have adequate UI. Pretty exciting!</p></li>
  </ul>
{% endblock %}


