{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link href="/static/jplayer/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jplayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="/static/jplayer/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="/static/md5.js"></script>
  <script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    window.specials_playlist = new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_specials",
      cssSelectorAncestor: "#jp_container_specials"
      }, [
        {% for episode in content.specials if not episode.secret %}
        {
          title:"{{ episode.datetime.strftime('%Y-%m-%d')}}: {{ episode.title }}",
          free:true,
          mp3:"{{ episode.url }}",
        },
        {% endfor %}
      ], {
        swfPath: "../../dist/jplayer",
        supplied: "oga, mp3",
        wmode: "window",
        playlistOptions: {autoPlay: false,},
        useStateClassSkin: true,
        preload: "none",
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true
      });
    new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_radio_plays",
      cssSelectorAncestor: "#jp_container_radio_plays"
      }, [
        {% for episode in content.radio_plays %}
        {
          title:"{{ episode.datetime.strftime('%Y-%m-%d')}}: {{ episode.title }}",
          free:true,
          mp3:"{{ episode.url }}",
        },
        {% endfor %}
      ], {
        swfPath: "../../dist/jplayer",
        supplied: "oga, mp3",
        wmode: "window",
        playlistOptions: {autoPlay: false,},
        useStateClassSkin: true,
        preload: "none",
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true
      });
    {% for marathon in ('marathon2013', 'marathon2014',) %}
    new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_radio_plays_{{marathon}}",
      cssSelectorAncestor: "#jp_container_radio_plays_{{marathon}}"
      }, [
        {% for episode in plays[marathon] %}
        {
          title:"{{ episode.title }}",
          free:true,
          mp3:"{{ episode.url }}",
        },
        {% endfor %}
      ], {
        swfPath: "../../dist/jplayer",
        supplied: "oga, mp3",
        wmode: "window",
        playlistOptions: {autoPlay: false,},
        useStateClassSkin: true,
        preload: "none",
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true
      });
    {% endfor %}
    new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_loon",
      cssSelectorAncestor: "#jp_container_loon"
      }, [
        {% for episode in content.loon %}
        {
          title:"{{ episode.datetime.strftime('%Y-%m-%d')}}",
          free:true,
          mp3:"{{ episode.url }}",
        },
        {% endfor %}
      ], {
        swfPath: "../../dist/jplayer",
        supplied: "oga, mp3",
        wmode: "window",
        preload: "none",
        playlistOptions: {autoPlay: false,},
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true
      });
  });
  //]]>
  function load_extra_specials() {
     var secretword = prompt("What's the secret word", "password");
     // I obviously don't care if this is secret, congrats
     if (md5(secretword) == "c90a9ee01d291ca168a6e147fd07c110") {
       window.specials_playlist.remove();
       window.specials_playlist.setPlaylist(
        [
        {% for episode in content.specials %}
        {
          title:"{{ episode.datetime.strftime('%Y-%m-%d')}}: {{ episode.title }}",
          free:true,
          mp3:"{{ episode.url }}",
        },
        {% endfor %}
        ]);
       window.specials_playlist.shuffle();
     } else {
       window.alert("no");
     }
  }

  </script>
{% endblock %}
{% macro insert_playlist(name) -%}
<div id="jquery_jplayer_{{name}}" class="jp-jplayer"></div>
<div id="jp_container_{{name}}" class="jp-audio" role="application" aria-label="media player">
  <div class="jp-type-playlist">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
        <button class="jp-previous" role="button" tabindex="0">previous</button>
        <button class="jp-play" role="button" tabindex="0">play</button>
        <button class="jp-next" role="button" tabindex="0">next</button>
        <button class="jp-stop" role="button" tabindex="0">stop</button>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-controls">
        <button class="jp-mute" role="button" tabindex="0">mute</button>
        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
      </div>
      <div class="jp-toggles">
        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
        <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
      </div>
    </div>
    <div class="jp-playlist">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>
{%- endmacro %}
{% block content %}
<div class="page">
  <h2>college radio is a special medium</h2>
  <div class="wikitoc">
    <div class="wikitoctitle">
      <h2>Contents</h2>
      <span class="toctoggle">&nbsp;[<a role="button" tabindex="0" class="togglelink">hide</a>]&nbsp;</span>
    </div>
    <ul>
      <li class="toclevel-1">
        <a href="#radiosection_bjs">
          <span class="tocnumber">1</span> <span class="toctext">Buford J. Sharkley Presents: As Told to Hervey Okkles (2010-)</span>
        </a>
      </li>
      <li class="toclevel-1">
        <a href="#radiosection_earful">
          <span class="tocnumber">2</span> <span class="toctext">An Earful of&hellip;</span>
        </a>
      </li>
      <ul>
      <li class="toclevel-2">
        <a href="#radiosection_earfulconvoy">
          <span class="tocnumber">2.1</span> <span class="toctext">An Earful of Convoy (2013-2017)</span>
        </a>
      </li>
      <li class="toclevel-2">
        <a href="#radiosection_earfulcocktail">
          <span class="tocnumber">2.2</span> <span class="toctext">An Earful of Cocktail (2017-)</span>
        </a>
      </li>
      </ul>
      <li class="toclevel-1">
        <a href="#radiosection_henrygeorge">
          <span class="tocnumber">3</span> <span class="toctext">The Henry George Program (2017-)</span>
        </a>
      </li>
      <li class="toclevel-1">
        <a href="#radiosection_radioplays">
          <span class="tocnumber">4</span> <span class="toctext">Radio Plays</span>
        </a>
      </li>
      <ul>
      <li class="toclevel-2">
        <a href="#radiosection_radioplays_2013">
          <span class="tocnumber">4.1</span> <span class="toctext">Radio Play Marathon 2013</span>
        </a>
      </li>
      <li class="toclevel-2">
        <a href="#radiosection_radioplays_2014">
          <span class="tocnumber">4.2</span> <span class="toctext">Radio Play Marathon 2014</span>
        </a>
      </li>
      </ul>
      <li class="toclevel-1">
        <a href="#radiosection_loontalk">
          <span class="tocnumber">5</span> <span class="toctext">Loon Talk (2015-)</span>
        </a>
      </li>
      <li class="toclevel-1">
        <a href="#radiosection_specials">
          <span class="tocnumber">6</span> <span class="toctext">Specials</span>
        </a>
      </li>
      <ul>
      {% for episode in content.specials if not episode.secret %}
      <li class="toclevel-2">
        <a href="#radiosection_specials_{{episode.id}}">
          <span class="tocnumber">6.{{loop.index}}</span> <span class="toctext">{{episode.title}} ({{episode.datetime.strftime('%Y')}})</span>
        </a>
      </li>
      {% endfor %}
      </ul>
      <li class="toclevel-1">
        <a href="#radiosection_pheast">
          <span class="tocnumber">7</span> <span class="toctext">The Pheast (2011-2013)</span>
        </a>
      </li>
  </ul>
  </div>
  <h2 id="radiosection_bjs">
    <img class="banner_under_h2" src="{{ url_for('static', filename='bjspresents.png') }}" alt="Buford J Sharkley Presents" style="width:100%;"/>
  </h2>
  <p>
    ...is the title of a radio show I've been doing for some time, on KZSU
    Stanford (90.1 on your FM dial).
  </p>
  <p>
    Wanna see playlists? I got playlists.
  </p>
  <ul>
    <li>
      <a class="largeish"
        href="http://zookeeper.stanford.edu/index.php?action=viewDJ&amp;seq=selUser&amp;viewuser=768">
        playlists for my shows
      </a>
    </li>
    <li>
      <a class="largeish"
         href="http://zookeeper.stanford.edu/index.php?action=viewDJ&amp;seq=selUser&amp;viewuser=1467">
        playlists for my themed shows
      </a>
      (themed is what the show used to be: songs about worms, songs about Jack Klugman, etc&hellip;)
    </li>
    <li>
      <a class="largeish"
         href="http://zookeeper.stanford.edu/index.php?action=viewDJ&amp;seq=selUser&amp;viewuser=1116">
        playlists for my shows featuring radio drama
      </a>
      (see <a href="#radiosection_radioplays">here</a> for more details)
    </li>
  </ul>
  <hr/>
  <h2 id="radiosection_earful">an earful of&hellip;</h2>
  <h3 id="radiosection_earfulconvoy">
    <center><a href="//earfulofconvoy.com">
      <img src="http://www.earfulofconvoy.com/static/convoy.png"
           alt="An Earful of Convoy" style="width:40%"/>
      </a></center>
  </h3>
  <p>
    45 hours of content about the 1978 film Convoy. Recorded over the course of
    2013-2017
  </p>
  <iframe src="//earfulofconvoy.com/playlist.html" name="frame1" width="100%" height="600px" frameborder="no" align="center"><br /> </iframe>
  <div style="background: black;color:white;">
  <h3 id="radiosection_earfulcocktail">
  <center><a href="//earfulofcocktail.com"><img src="http://www.earfulofcocktail.com/static/cocktail.png" alt="An Earful of Cocktail" style="width:40%"/></a></center>
  </h3>
  <p>Same level of analysis, but  about the 1988 film Cocktail. Recorded over the course of 2017-</p>
  <iframe src="//earfulofcocktail.com/playlist.html" name="frame1" width="100%" height="600px" frameborder="no" scrolling="auto" align="center"><br /> </iframe>
  </div>
  <hr/>
  <h2 id="radiosection_henrygeorge">The Henry George Program&hellip;</h2>
  <center>
  <a href="//seethecat.org">
  <img class="banner_under_h2" src="http://seethecat.org/static/banner.png" alt="The Henry George Program logo" style="width:80%"/>
  </a>
  </center>
  <p>A show about economics, housing, inequality, and reform. Currently airing 9:00am Thursdays on KZSU.</p>
  <iframe src="//seethecat.org/playlist.html" name="frame1" width="100%" height="600px" frameborder="no" scrolling="auto" align="center"><br /> </iframe>
  <hr/>
  <h2 id="radiosection_specials">assorted content&hellip;</h2>
    <button onclick="load_extra_specials()">Click for secret content</button>
    {{ insert_playlist(name='specials') }}
    <br/>
    <ul>
      {% for episode in content.specials if not episode.secret %}
      <li id="radiosection_specials_{{episode.id}}"><span class='menschy'>{{episode.title}}</span><br/>{{episode.description}} {{episode.datetime.strftime('%B %Y')}}.</li>
      {% endfor %}
    </ul>
    <ul> [to add]
      <li>[KZSU book club]</li>
      <li>orangeasm</li>
    </ul>
  <hr/>
  <h2 id="radiosection_loontalk">Loon Talk&hellip;</h2>
  <img class="banner_under_h2" src="{{ url_for('static', filename='loon_talk.png') }}" alt="Loon Talk" style="width:100%;"/>
  <p>A freeform conversation program with Matt Rabin.</p>
  {{ insert_playlist(name='loon') }}
<hr/>
  <h2 id=radiosection_radioplays>radio plays&hellip;</h2>
  <p>Acting/radio dramas with friends: enjoyed by many at the station. Hypothetically enjoyed by listeners.</p>
  <p>Such bouts of radio dramas (scripts culled mainly from the incredible resource <a href="http://www.genericradio.com/">The Generic Radio Workshop</a>) have been happening off and on since early 2012.</p>
  <p>A history:</p>
    <ul>
      <li><a href="http://nickandnoah.com/bufordjsharkley/">Our American Cousin, and a full season of weekly radio plays. Via the website of Nick&amp;Noah (former KZSU royalty).</a></li>
      <li>Two radio plays: <a href="https://soundcloud.com/stanford-radio-news/kzsu-radio-dramas-ozzie-and/">a sitcom</a> and <a href="https://soundcloud.com/stanford-radio-news/kzsu-radio-dramas-amanda-of/">a soap</a>. Featuring acting from Hervey Okkles's own ma and <a href="http://www.emilymollineaux.com">sister</a>.</li>
      <li>A six-hour mini-marathon, January 2014.</li>
    </ul>

  <h3 id="radiosection_radioplays_2013">2013 Radio Play Marathon</h3>
    <p>held January 26, 2013. <a href="http://kzsuradioplaymarathon.tumblr.com/">some photos here.</a></p>
    {{ insert_playlist(name='radio_plays_marathon2013') }}
  <hr/>
  <h3 id="radiosection_radioplays_2014">2014 Radio Play Marathon</h3>
    <p>held April 25, 2014.</p>
    {{ insert_playlist(name='radio_plays_marathon2014') }}
  <hr/>
  <h3 id="radiosection_radioplays_various">Various</h3>
    {{ insert_playlist(name='radio_plays') }}

<hr/>
  <h2>the pheast&hellip;</h2>
  <p>Here's some content from The Pheast, a semi-regular program I've done with KZSU colleague <a href="http://kristenleach.com/">DJ PJs</a> along with a few guest appearances.</p>

    <audio controls>
        <source src="http://nickandnoah.com/old/archives/Trent/Pheast_Show.mp3">
    </audio>
    The Pheast: November 2011.
    <br/>
    <audio controls>
        <source src="http://nickandnoah.com/old/archives/Trent/Pheast_II_Holiday_Pheastivities.mp3">
    </audio>
    Holiday Pheastivities. December 2012.
    <br/>
    <audio controls>
        <source src="http://nickandnoah.com/old/archives/Trent/Pheast_III_PheastBQ.mp3">
    </audio>
    PheastBQ. June 2013.
    <br/>
    <audio controls>
        <source src="http://nickandnoah.com/old/archives/Trent/Pheast_IV_Labor_Day_Pheast.mp3">
    </audio>
    Labor Day Pheast. September 2013.
    <br/>
<hr/>
  <h2>more about kzsu&hellip;</h2>
  <p>KZSU Stanford is a place.</p>
  <p>I have been serving as Program Director for KZSU since 2010. This puts me in charge of scheduling, but the station has given me the opportunity to work on many different things. [LIST GOES HERE]</p>
</div>

{% endblock %}
