{% extends "layout.html" %}
{% block content %}
<div class='short_story'>
<div class='title'>Egg Story</div>
<p>&ldquo;You don't understand, I'm just giving you the egg,&rdquo; the salesman said.</p>
<p>I replied, &ldquo;You're giving it to me? Then what do you want?&rdquo;</p>
<p>&ldquo;What?&rdquo;</p>
<p>&ldquo;What do you want? How do you make your money, if you're a salesman?&rdquo;</p>
<p>The salesman: &ldquo;What? You know, I don't go to your job, and tell you how to do your job, so you oughtn't tell me how to do mine.&rdquo;</p>
<p>In the distance, a shopping cart rolled down an incline, and into a rail.</p>
<p>The salesman: &ldquo;What do you do for a living?&rdquo;</p>
<p>I: &ldquo;I'm an accountant.&rdquo;</p>
<p>He: &ldquo;Well, I don't go to your job, and tell you how to do your &hellip; accounting. So you oughtn't tell me how to do mine.&rdquo;</p>
<p>I: &ldquo;You're giving me this egg.&rdquo;</p>
<p>&ldquo;Yes.&rdquo;</p>
<p>&ldquo;A chicken egg?&rdquo;</p>
<p>&ldquo;I'm giving it to you. What?&rdquo;</p>
<p>&ldquo;I just want to know if it's a chicken egg.&rdquo;</p>
<p>&ldquo;Oh, hell, I don't know what it is. It's an egg.&rdquo;</p>
<p>&ldquo;Is it even a bird egg? Can it be a reptile egg?&rdquo;</p>
<p>The salesman: &ldquo;Those are scaly. This isn't scaly. It isn't a reptile egg, then, yes?&rdquo;</p>
<p>I shook the egg some.</p>
<p>&ldquo;So you recommend it's okay I eat this egg? Fry it or boil it?&rdquo;</p>
<p>&ldquo;Damn you. I'm giving you the egg. It's a gift. Damn you. Do whatever you like. Whatever damned well you like.&rdquo;</p>
<p>I looked left and I looked right. &ldquo;Okay. I'll take the egg.&rdquo;</p>
<p>We both took a few steps and got into our respective cars, and we drove off from the parking lot. The salesman's car had, in giant black capital letters, &ldquo;EGG&rdquo; written across the hood.</p>
<hr/>
<p>There was a chicken, alive, living inside the egg, quite alive. I suspected as much when the egg didn't quite slosh when I shook it, and also when I held it under a light. I knew it was a fact when the pecking began. The pecking was a tapping every few minutes, and the pecking never dented the egg.</p>
<p>First day of work, after the egg, I brought the egg along, and I put it alongside my desk as I worked. I set it atop a rag, so it wouldn't roll about, and set a few papers lightly atop it, so my workmates wouldn't see that I had an egg on my desk. If I had a drawer, I would have put the egg in the drawer. But my desk does not have a drawer, even though I've often asked to be moved to a desk with drawers. I am guessing that they will finally move me to a desk with drawers in the next year, and in fact maybe everyone in the office will get a desk with drawers.</p>
<p>That night, the egg still hadn't cracked. I sat and watched it not crack, and as I sat, I tore up a styrofoam cup and made a small nest inside another cup. This was good, because the other cup had a handle. I could carry around the egg in a cup, if the cup had a handle. After about one days, I took a knife and attempted to use it like a chisel, to break open the egg. The knife kept slipping off.</p>
<p>It was difficult. You should try it with an egg that way. It is difficult to do. I left the egg alone after that. I would have tried to open it with a tiny hacksaw if I had one, but I do not have a tiny hacksaw.</p>
<hr/>
<p>On the fifteenth day, the screaming began. It was loud screaming, and not like a chicken. It was a deep and scratchy scream, like a middle-aged man scream, a scream that seemed to come from all around you and not from inside an egg on your kitchen table. It went without stopping for thirty or forty seconds, and it was followed by a few seconds of shallow gasps, and then it started again, over and over. The screaming began while the egg and I were at home, right after I finished the newspaper. Because the screaming was loud, I did not take the egg to work. But the egg was still screaming when I came back, and the screaming did not stop that afternoon, and it did not ever stop, even during nighttime.</p>
<p>That is, the screaming did not stop until about a week later, when the chicken probably died, and I lost the egg the week after that. I don't know how I lost it. I left it on the counter, and it was in the cup, and I'm the only person who is ever inside my apartment, so I don't know how it got moved. This was about a year ago when this all happened. Also, I never saw the salesman again, and I still don't know how he made his money.</p>
<p>I got my egg for free, and I probably would not have paid much for it if it wasn't free, so I don't see how the salesman made his money.</p>
<br/>
<br/>
<div style="text-align:right">
-Mark Mollineaux
<br/>
2009
</div>
</div>
{% endblock %}
