{% extends "layout.html" %}
{% block content %}
<div class='poem'>
<div class='title'>
Anti-Murder Poem
</div>
It says quite clearly: &ldquo;Thou Shalt Not Kill&rdquo;<br/>
Then why do you murder, people, c'mon.<br/>
Keep up this killing,<br/>
You know what'll happen:<br/>
The dinosaur's gonna get you.<br/>
<br/>
I mean, to take out a gun? And shoot someone else?<br/>
That's not cool.<br/>
You'll probably regret it,<br/>
When not before long:<br/>
The dinosaur's gonna get you.<br/>
<br/>
BRIDGE:<br/>
Dinosaur, dinosaur<br/>
Dino, dino, dino, dino, dino, dino-saur.<br/>
<br/>
When it comes down to killing your brethren,<br/>
I say &ldquo;What the hey!&rdquo; Know what I mean?<br/>
Keep up this killing,<br/>
You know what'll happen:<br/>
The dinosaur's gonna get you.<br/>
<br/>
<div style="text-align:right">
-Mark Mollineaux
<br/>
2004
</div>
</div>
{% endblock %}
