{% extends "layout.html" %}
{% block content %}
<div class='short_story'>
<div class='title'>Chapter 1: How Timothy Became a Businessman</div>
<pre>
CAST OF CHARACTERS:

BOBBY -- COOL CAT

MR BENDIX -- STUCK-UP INSTRUCTOR

MUGGS GUNDEE -- CLASSMATE, MEATHEAD

LACY -- GIRLFRIEND

BOSS OF SANTA AGENCY -- SKEEZY FELLOW

REAL SANTA -- ACTUALLY SANTA

OLD LASCIVIOUS LADY



NIGHTTIME, THE CITY

We hear the ringing of Christmas bells and wild, swingin'
music.

                      BOBBY
                (V.O.)
          Hey guys, cats and swingers. Or
          should I say... Ringle dingle ding.
          Oh, sorry for that. Just trying to
          keep with the school policy, of
          injecting a little yuletide cheer
          into every greeting.

Bells and other Christmassy shit are still going off.

                      BOBBY
                (V.O.)
          Yeah, happy to introduce myself.
          The name's Bobby McInteyer, rising
          sophomore at H.B. McCoove's
          Christmas Academy, where only the
          BEST and Swingingest Mall Santas
          earn their stripes. And pardon me
          for being so bold, but I might just
          be the best and swingingest Mall
          Santa cadet there. And I've got a
          pin to prove it. It says: "BOBBY
          MCINTEYER, SWINGINGEST SANTA IN
          SANTA SCHOOL."
          
          I made it myself.
          
          Now, let me tell you the story of
          what happened to me. It started
          like any ordinary day: I was
          sitting in my second period class:
          AP Christmas, with crusty old Mr.
          Bendix.

CLASSROOM, DAYTIME

                      MR. BENDIX
          Hello, cadets.

                      CLASS
                (as one)
          Hello, Mr. Bendix.

                      BOBBY
          Hiya, teach.

                      MR. BENDIX
                (peeved)
          Watch yourself,young McInteyer.
          
          Now, class, today is a day to put
          your Santa spectacles on and pay a
          very close attention. I'm about to
          go over something that 100 percent
          of mall Santas have to know, 100
          percent of days, on 100 percent of
          each of said days. If you fail to
          remember these things, you will
          leave yourself completely
          vulnerable, and your very career as
          a Mall Santa may be in jeopardy.
          Now get ready.... The eighteen Rs.

A beat.

                      MR. BENDIX
                (slowly, methodically,
                 with a long break in
                 between Rs)
          Reindeer games. Roasting chestnuts.
          Ribbon. ... ([in background, as
          next line cuts in:] Real christmas
          tree. Rudolph adherents. Rejoicing.
          Rumpelskiltskin. Ramparts
          Remembering the reason for the
          season. Rustling of stockings.
          Raspberry sauce. Retail stores.
          [repeat as necessary])

The sound fades down, as we head into the murmur of
whispering students.

                      BOBBY
                (V.O.)
          Me? I wasn't listening. Right then,
          I was in the middle of passing a
          real pip of a note to my biggest
          rival, Muggs Gundee.
          
          Muggs Gundee? That guy was in no
          shape to be a Santa-- he had a neck
          wider than his beard was long. You
          ever see a Santa with a shape like
          that? Didn't think so.
          
          My note just said this:
          
          'I'm the coolest Santa in Santa
          school, and you're just a big
          lunkhead phony loser dork. Why
          don't you stop being such a dork,
          dork, you lunkhead loser.' A nice
          little roast, huh? Thought so.
          Well, that's just some average
          stuff from a A-one cool guy like
          me. 
          
          I proceed to waggle my eyebrows and
          wait for Muggs to turn back to me,
          and see what he has to say.

                      MUGGS
          Shut it, short stack.

                      BOBBY
          Oh yeah, sounds like somebody's
          jealous of someone else's superior
          Santa skills.

                      MUGGS
          Sounds like someone's jealous of...

                      MR. BENDIX
                (interrupting)
          --Is there something interesting
          you'd like to share with the rest
          of class, young McInteyer? I would
          tend to believe that today's
          planned material, going over the
          eighteen Rs, is quite important.
          But, I see, not as important as... 
          Oh, is that, as I observe, a note
          in the near-term aftermath of
          passage? It certainly LOOKS
          interesting. I'm sure you'd love to
          share it.

                      BOBBY
          Uh... Well, I'm just helping Muggs
          here understand the concept of...
          lap torque. Yeah, lap torque.
          Optimizing for toddler placement.

                      MR. BENDIX
          Lap torque? Why, that's one of the
          most difficult problems in modern
          mall Santatry.
          And I'm to believer YOU'RE helping
          out Muggs?

                      MUGGS
          Uh, Mr. Bendix... Bobby doesn't
          know the first thing about lap
          torque. He's merely taunting me in
          a vague and repetitive manner.

                      MR. BENDIX
          You boys should spend less time
          fighting... 


An agonizingly long pause

          and more time training. We'll need
          BOTH of you at your best, and
          working together, to have any
          chance at beating Kwanzaa Kollege
          for the annual Spring Swing Fling
          golf tournament. It's the most
          prestigious intermural competition
          amongst holiday-based academies in
          the tri-state area!

                      BOBBY
          You don't have to tell me sir. We
          all know the importance of the
          Annual Spring Swing Fling Golf
          Tournament; after all, it's the
          most prestigious intermural
          competition amongst holiday-based
          academies in the tri-state area!
          Kwanzaa Kollege has beaten us
          fifty-four of the past fifty-five
          years! It's coming up in just a few
          weeks, and if we put together the
          right team this year, we can really
          have something to be proud of!

                      MR. BENDIX
          That's the first intelligent thing
          I've hard you say all year, Young
          McInteyer.

Music into...

                      BOBBY
                (V.O.)
          Yeah, that's right. I'm a swinger,
          and also a swinger... Of golf
          clubs. Ho ho ho, and merry
          swing-mas. Tis the season to be
          golfing. Fa la la la, et cetera and
          et cetera.
          
          After class cut out, I made a
          bee-line to see my girl, Lacy
          Peterman. She's studying in the
          East wing at the school, where the
          Mrs Clauses learn their thing.
          
          At H.B. McCoove's, we have our
          trophy case, a nice big glass
          dealy, right there in the hallway--
          it has the one trophy we won
          against Kwanzaa Kollege, sitting
          there all by its lonesome.

HALLWAY

                      BOBBY
          Hiya Lacy. How's tricks?

                      LACY
          Hello, Bobby.

                      BOBBY
          Mr. Bendix is being a total drip
          and a half-- I'd nearly expect him
          to say "Happy holidays" at any
          moment. But at least he's on board
          for H.B. McCoove's plan to finally
          beat Kwanzaa Kollege in the next
          Spring Swing Fling.

                      LACY
          Oh.

                      BOBBY
          You see that trophy in that case,
          Lacy? Well, you're gonna see a lot
          more of 'em, and soon.

                      LACY
          Oh.

                      BOBBY
          And here's a little thing that not
          everybody knows--there's a little
          inscription in the inside of the
          cup. Let me pull it out, and show
          you. I'll just...

                      SFX:
          ALARMS! ALARMS ARE RINGING!

                      BOBBY
          What in the ring ding ding is
          ringing? Is this an alarm?

                      LACY
          Bobby, you idiot.

                      BOBBY
          My love, my pet? What's happening
          to us? And why is there a crowd of
          men dressed as candy canes stomping
          down the hallway? And why does the
          man at the front look so familiar?

SFX: SWINGIN XMAS MUSIC

                      BOBBY
                (V.O.)
          I'll tell you why. It was H.B.
          McCoove himself. I thought he was
          dead. And... long story short,
          removing an item from the glass
          case was a violation of Santa Code.
          I was immediately expelled and all
          that jazz. They burned my records,
          shamed me, and got me on my way.
          They kicked me out of that smokey
          room back into that hallway. Lacy
          was still standing there.

HALLWAY

                      BOBBY
          Talk about a railroading! Lacy, you
          been catching any of this?

                      LACY
          You got expelled for touching that
          trophy? Bobby, you idiot.

                      BOBBY
          Don't you worry about old Bobby
          boy-- I'll get out of this fix. But
          Lacy, my love, my pet-- why is
          there another crowd of men dressed
          as candy canes stomping down the
          hallway? And why are they carrying
          pitchforks and various bludgeoning
          tools?

                      MR. BENDIX
          Bobby!

                      BOBBY
          Mr. Bendix!

                      MR. BENDIX
          I forgot to mention a few of the
          eighteen Rs in class today. The
          19th is "Reminder"-- a reminder
          that the Santa Code is always
          performed to the death! And The
          20th is ...

A beat.

                      MR. BENDIX
          RUN!

SFX: SWINGIN XMAS MUSIC

                      BOBBY
                (V.O.)
          Yep, I was a vigilante from
          justice, railroaded to the nth
          degree.
          
          Just my luck. Out on the road, no
          formal Santa education, but still
          in need of a Santa job. I took
          whatever opportunities I could get.
          I remember how desperate I was when
          I was called ito the hiring
          office...

SFX: AMBIENT SOUNDS OF OFFICE SPACE

                      BOSS
          Step in, Mr. ...uh, McInteyer.

                      BOBBY
          Hello sir, thanks for giving me
          this opportunity.

                      BOSS
          Mrs. Sherman at the Hiring HQ sent
          me your info; I think we'll be able
          to use you.

                      BOBBY
          That's wonderful, sir.

                      BOSS
          But you may find that we do things
          a little differently here than the
          Santa Shops you're used to.

He pauses, as to read from a form.

                      BOSS
          You clean?

                      BOBBY
          Is my room clean?

                      BOSS
          Drugs. Do you use drugs.

                      BOBBY
          Oh, certainly not. Never touched
          them.

                      BOSS
          Tattoos?

                      BOBBY
          No tattoos, sir.

                      BOSS
          Ever been convicted of a crime?

                      BOBBY
          Uh... They circumvented the
          customary judicial process over at
          H.B. McCoove's so as to effectively
          convict me via a court martial of
          Santa School Elders without due
          process, instantly making me a
          fugitive from justice within the
          surrounding municipality, but
          without any of the accoutrement of
          the courtroom, or in fact any
          tangible documentation whatsoever.
          So I was never technically
          convicted, no. But to say I was
          railroaded would still be the
          understatement of the century. It
          was nothing less than a miscarriage
          of justice, santa justice, and I
          will spend as long as it takes,
          even if it is the rest of my life,
          to properly rectify the situation.

A beat.

                      BOSS
          So that's a no?

                      BOBBY
          That's a no.

                      BOSS
          Sure, okay.

He returns to form.

                      BOSS
          Horsepower?

                      BOBBY
          Horsepower?

                      BOSS
          Horsepower. What's your horsepower?

                      BOBBY
          My horsepower, sir?

                      BOSS
          Yeah, your lifting and hauling; how
          many horses is that equivalent to,
          y'know, power-wise?

                      BOBBY
          Uh... I don't know. 0.1?

                      BOSS
                (impressed)
          Oh, wow. Good. Good. We can
          DEFINITELY use you.
          
          So what do you know about my
          company?

                      BOBBY
          Not much, sir, except that Mrs.
          Sherman from Hiring HQ sent me
          here. I didn't even look up to see
          your sign as I walked in, so I
          still don't know the name of your
          business.

                      BOSS
          Oh, no kidding. Well, take a look
          now.

                      BOBBY
          "Sexy ... Santa ... Shopping Cart
          Retrieval."

                      BOSS
                (sounding more and more
                 skeezy)
          Oh, you better believe it.

                      BOBBY
          What... What DOES your company do?

                      BOSS
          We subcontract out Santas to local
          supermarkets for retrieving
          shopping carts from parking lots.
          We retrieve the carts that have
          been successfully docked in the
          shopping cart corrals. And we also
          retrieve the carts that have been
          left errantly in miscellaneous
          corners, nooks, and/or crannies of
          the parking lot.
          
          You've probably seen a number of
          out-of-work or unlicensed mall
          Santas doing similar work. But
          here's what makes it different with
          my company:

A beat.

                      BOSS
          It's sexy.

                      BOBBY
          What's sexy?

                      BOSS
          What's sexy about the way we
          operate?

                      BOBBY
          No. What's "sexy"? What does that
          word mean? I'm not familiar with
          it.

                      BOSS
                (genuinely impressed)
          Oh wow... Not knowing what "sexy"
          means. There's NOTHING sexier than
          that. You're gonna go far, boy.

                      BOBBY
          I don't think I understand you.

                      BOSS
          Just shut up and listen, dummy. We
          subcontract out our santas to local
          supermarkets to do the same jobs as
          those others, but our guys...
          They've got the beards. They've got
          the hats. And they've got the
          Christmas spirit. But that's IT.
          
          They do it completely naked.

MUSIC FOR VOICEOVER:

                      BOBBY
                (V.O)
          Woah woah woah, cats and kittens...
          this job sounded worse than coal in
          my stocking.... But what choice did
          I have? I had rent to pay, and I
          hadn't had anything to eat but
          stale gingerbread for days. So I
          took it.
          
          I started working, and found out
          that the job really wasn't so
          bad... If you don't mind frostbite
          nipping out your nose, and doing as
          much hauling as eight reindeer put
          together! The weather WAS a bit
          brisk for bare skin, and it turns
          out I severely overestimated my
          horsepower. But the worst part were
          customers who didn't seem to
          appreciate the sanctity and magic
          of the Holiday Season.

SFX: SOUNDS OF SUPERMARKET LOT

                      OLD WOMAN
                (flirtingly)
          Why, HELLO, Santa!

                      BOBBY
                (santa voice)
          Ho, ho, ho! Thanks for shopping at
          Cheap & Final, ma'am. And MERRY
          Christmas. Now pardon me as I
          continue my efforts to return these
          carts to the front of the
          supermarket establishment.

                      OLD WOMAN
          You're not wearing much, Santa!

                      BOBBY
          Ho, ho, ho! I am not, no. Company
          policy.

                      OLD WOMAN
          And on such a cold night. Oh,
          Santa, you're not wearing anything
          at all!

A beat.

                      OLD WOMAN
          Mind if I give it a tug?

A pregnant pause.

                      BOBBY
                (shocked)
          You want to tug on my beard?

                      OLD WOMAN
          Is it okay? Is it real?

                      BOBBY
                (angry)
          Why certainly it's real! What kind
          of Santa do you take me for! I've
          been training for this job the last
          eight years of my life, and been
          dreaming about this since the day I
          was born! A Santa who wears a false
          beard is a scourge to the
          profession! A Santa who wears a
          false beard is like a patriot who
          wears false patriotism, or a
          fireman who fights false fires. A
          plumber who fights false clogs, or
          a shoemaker who makes false clogs.
          Or a--

                      OLD WOMAN
                (still flirtingly)
          Um, Santa, don't mean to interrupt
          you, but it looks like that
          shopping cart is rolling away.
          Better chase after it. 

A beat.

                      OLD WOMAN
          I'll just stand here and WATCH.

MUSIC: FOR VOICEOVER

                      BOBBY
                (V.O.)
          It stretched on like this for quite
          a while, duller than flat champagne
          on January 2nd, until one day I see
          another fat grey-bearded naked
          gentleman in the lot pushing a
          shopping cart beside me. Another
          sexy Santa? I was under the
          impression that Sexy Santa Shopping
          Cart Retrieval only had its
          employees work solo, but it looked
          like I had a co-worker for today...

SFX: AMBIENT SHOPPING CART SOUNDS.

                      BOBBY
          Hey, hey sir! Yes, you, the fat
          naked man with a white beard! I was
          under the impression that Sexy
          Santa Shopping Cart Retrieval only
          had its employees work solo, but it
          looks like I have a co-worker for
          today!
          

                      REAL SANTA
                (sounds exactly like
                 every santa ever)
          Ho ho ho! No, no, no. I'm don't
          work for your company, I'm just a
          shopper, who prefers to do my
          shopping the way my lord and savior
          Jesus Christ intended: fully nude.

                      OLD WOMAN
                (flirtingly)
          Oh, my! I'm used to watching Santa
          shake like a bowlful of jelly, but
          I'm getting two bowlfuls tonight!
          Double MY pleasure, and double MY
          fun...

                      BOBBY
          Lady, I'm exhausted from pushing
          around these carts. I really don't
          have the time.

                      OLD WOMAN
          I can tell you what else would be
          exhausting, and wouldn't take much
          time at all...but would be a lot
          more fun...

                      BOBBY
                (puzzled)
          Speed skating?
          

                      REAL SANTA
          Let me take care of this, Bobby.

He clears his throat.

                      REAL SANTA
                (now in rat-packy slang,
                 but still
                 stereotypically
                 santa-ish)
          Now listen here, sweet-cheeks. My
          buddy is a hard-working cat with a
          full satchel of worries. He just
          don't got time or patience to put
          up with the likes of you.
          
          Pack up your groceries and amscray,
          senora, before I amscray YOU first,
          and slap a little sense into that
          little jaw of yours. Ringle ding
          ding, sweetheart.
          
          Capiche?

                      OLD WOMAN
                (after introspection)
          Capiche.
          
          I'll leave, and stop hanging around
          these parts. Thank you for teachin
          me this lesson on such a wonderful
          Christmas season day.

She starts carting away.

                      OLD WOMAN
          Hey, new guy, one more thing: that
          is the fakest-looking beard I've
          ever seen!

She carts away.

                      REAL SANTA
                (dismissively)
          Dames!

                      BOBBY
          Gee, buddy, you saved me from a
          real scrape! The least I could do
          is help you take your groceries
          back to your car!

                      REAL SANTA
          Ho, ho ho. Oh, I don't have a car
          in this lot. I parked the sleigh--
          I mean, car, around the corner, on
          Juniper Street.

                      BOBBY
                (puzzled)
          But why would you park on Juniper
          Street? There's no lot there, just
          a reindeer grazing area!

                      REAL SANTA
                (winkingly)
          I have my reasons.

                      BOBBY
          And say, mister, how'd you know my
          name?

                      REAL SANTA
          I know a LOT about you. For
          instance, I know that you've been a
          VERY good boy this year. I even
          have something for you. Just reach
          inside my cart.

Rummaging.

                      BOBBY
          It's... A beautifully-wrapped
          present!

                      REAL SANTA
          Open it.

SFX: package opening

                      BOBBY
          It's... A key! For locker 7252 at
          H.B. McCoove's Christmas Academy!
          But what'll I find there?

                      REAL SANTA
          I guess you'll just have to see for
          yourself.

                      BOBBY
          But I've been banished! I'm even a
          fugitive from the the academy's
          surrounding municipality, in a
          legally dubious turn of events!

                      REAL SANTA
          Here's a lesson in the real meaning
          of Christmas: the only person who
          can banish you is YOU. And there's
          no such thing as a fugitive, except
          for someone who runs away from
          Christmas cheer. But for now-- Ho,
          ho, ho-- I must be going.

                      BOBBY
          Wow. Goodbye! And a very Merry
          Christmas to you! What's your name,
          mister!

                      REAL SANTA
          It's not my real name, but you can
          call me "K. Kringle," if you know
          what I mean...

                      BOBBY
          Wait, that sounds familiar-- 

                      REAL SANTA
          Let's just say this: ringle ding
          ding, cats and kittens. See you
          next Christmas Eve. And Ho Ho Ho.

                                             MUSIC INTO:

SFX: SWINGIN XMAS MUSIC

                      BOBBY
                (V.O.)
          I never figured out WHO that man
          was.

A beat.
          Next, a series of events happened
          that you really have to see to
          believe.

                      
          I'll briefly summarize them.
          
          So, it turns out then when I opened
          up that locker back at H.B.
          McCoove's, there was the real
          trophy. I didn't take out the real
          deal, just an impostor!

                      
          It turns out that our beloved
          teach, Mr. Bendix, had illegally
          borrowed the trophy from school to
          give it an extra few layers of wax.
          So on this technicality, I was
          allowed admittance back into the
          academy, and Mr. Bendix was duly
          terminated for petty larcency!

                      
          Next time I see him, I'll let him
          know that I got a lesson in the
          19th R-- Robbery! Uh, and also the
          20th R-- Rascal!

                      
          So, the first thing I did after
          getting back was hit up Lacy.

                      
          

                      BOBBY
          Hi Lacy.

                      LACY
          Hi Bobby.
           

                      BOBBY
          Now, if I'm not mistaken, I got
          back JUST in time to help out for
          the big Spring Swing Fling Golf
          tournament! Or is not enough time
          left? Lacy, do you see a clock
          anywhere? 
          
          If my mental math checks out, I
          think I might just have a few
          seconds to hit the locker room and
          lace up my golfing gear, and then
          if I take it cross-town at 90 miles
          an hour, I can JUST still make it
          before it starts, that is the bus
          is parked in the side lot and not
          around back--

                      LACY
          The tournament against Kwanzaa
          Kollege? No, that was several
          months ago.

                      BOBBY
          Several months ago?

                      LACY
          Yeah. Let me see.
          
          Yeah, like at least three or four
          months ago.

                      BOBBY
          How'd it go?

                      LACY
          We lost.

                      BOBBY
          Oh, okay.
          
          By a little, or by a lot?

                      LACY
          By a lot.

                      BOBBY
          Oh, okay.

                      
          Oh yeah, so I heard you were dating
          Muggs Gundee.

                      LACY
          Yeah, I was.

                      BOBBY
          
          So you're NOT still dating Muggs
          Gundee?

                      LACY
          No, not anymore.

                      BOBBY
          So, ..any interest in getting back
          together?

                      LACY
          Eh, not really.

                      BOBBY
          Oh, okay.

Awkward silence.

MUSIC: FOR VOICEOVER

                      BOBBY
                (V.O.)
          So that's the end of my story.
          
          Thanks for coming down the chimney
          tonight to hear my tale, cats,
          kittens, and adventurers. Don't
          have any milk and cookies for you,
          but I'll shake a jingle bell in
          your direction next time I have the
          chance. Ringle ding dingle ding.
          I'll catch up with you next time
          another zany scrape comes my way.
          
          So until next time, "Ho, ho, ho,
          and a swinging new year!"
</pre>
<br/>
2017
</div>
</div>
{% endblock %}
