{% extends "layout.html" %}
{% block content %}
<div class='poem'>
<div class='title'>
The Cry of One, Just Stepped into Shoe, Full of Egg Yolk
</div>
O why?<br/>
Why have I stepped into the shoe?<br/>
Full of the yolk.<br/>
The yolk, and the pain, <br/>
And the sorrow, and the <br/>
Joke <br/>
Of life empty<br/>
As an egg’s hollowed shell.<br/>
<br/>
Cry!<br/>
I cry that I step into the shoe.<br/>
I cry for what I have become.<br/>
<br/>
When I was just six,<br/>
Still bright in my eye,<br/>
My grandpa cried much the same.<br/>
When he stepped into the boot,<br/>
That was filled with the whites,<br/>
Filled with the whites of an egg.<br/>
<br/>
My grandpa beat me.<br/>
And beat me.<br/>
<br/>
But that doesn’t compare <br/>
To the shame I feel now.<br/>
Cry! <br/>
And why!<br/>
And pain!<br/>
It’s the cry and the why and the pain of the joke,<br/>
Stepping into the shoe,<br/>
Full of the yolk of an egg.<br/>
<br/>
<br/>
<div style="text-align:right">
-Mark Mollineaux
<br/>
2004
</div>
</div>
{% endblock %}


