{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="{{ '/static/jquery.min.js'|url }}"></script>
  <script type="text/javascript" src="{{ '/static/splashajax.js'|url }}"></script>
  <script type="text/javascript" src="{{ '/static/friendstxtwebringgenerator.js'|url }}"></script>
{% endblock %}
{% block bodyonload %}loadForFrontPage();{% endblock %}
{% block content %}
<div class="frontpageleft">
  <nav class="frontpagenav">
    <a href={{ '/random_drawing'|url }}>
      <div class="boxy initiator" id="drawings">
        <h2>drawings</h2>
        <!--['Drawings and sketches, 2001-present.',"","","The medium is ballpoint pen and notebook paper."]},-->
      </div>
    </a>
    <a href={{ '/radio'|url  }}>
      <div class="boxy initiator" id="radio">
        <h2>radio</h2>
        <!--["Audio works of musical selection, talk, and radio drama, 2009-present.","","","Via KZSU, the radio station of Stanford University."]},-->
      </div>
    </a>
    <a href={{ '/contact'|url  }}>
      <div class="boxy initiator" id="contact">
        <h2>contact</h2>
        <!--['Contact info lives here.']},-->
      </div>
    </a>
    <a href={{ '/faqs'|url  }}>
      <div class="boxy initiator" id="faqs">
        <h2>F.A.Q.s</h2>
        <!--['A list of F.A.Q.s']},-->
      </div>
    </a>
    <!--<a href={{ '/projects'|url  }}>
      <div class="boxy initiator" id="projectsanddesign">
        <h2>projects&amp;design</h2>
["Graphic design, non-graphic design, etc.","","","COMING SOON"]},
      </div>
    </a>-->
    <a href={{ '/film100'|url  }}>
      <div class="boxy initiator" id="filmlists">
        <h2>film lists</h2>
        <!--["Some personal lists about film.", "", "", "A top 100 list, and links to software I developed for tracking film canons."]},-->
      </div>
    </a>
    <a href={{ '/etc'|url }}>
      <div class="boxy initiator" id="etc">
        <h2>etc</h2>
        <!--["Odds and ends.", "", "Doggerel and such, and whatever else I can't fit somewhere better on this site."]},-->
      </div>
    </a>
    <a href={{ '/jokebook'|url }}>
     <div class="boxy initiator" id="jokes">
       <!--["Info about an upcoming jokebook with lotsa yuks."]},-->
      <h2>reely phunny jokes</h2>
      </div>
    </a>
    <a href={{ '/about'|url }}>
      <div class="boxy initiator" id="about">
        <h2>about</h2>
        <!--["Personal bio, etc, etc."]},-->
      </div>
    </a>
  </nav>
</div>
<div class="frontpageright">
  <div id="splash">
    <h2>howdy...</h2>
    <img id="frontpageimage" src="{{ '/lobster.png'|url }}" alt="lobster"/>
    <div id="summary">
      {{ this.body }}
    </div>
  </div>
</div>
{% endblock %}
